.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type='text'] {
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(209, 202, 202);
}

button {
    padding: 10px 20px;
    background-color: rgb(143, 163, 172);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s all ease;
}

button:hover {
    background-color: rgb(99, 103, 104);
}

h2 {
    font-size: 30px;
}

p {
    margin-bottom: 5px;

}

img {
    width: 120px;
    height: auto;
    margin-top: 10px;
}

@media(max-width:900px) {
    .container {
        max-width: 80%;
    }

    h1 {
        font-size: 30px;
    }
    h2{
       font-size: 20px; 
    }
}